#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(112.1deg, rgb(18, 24, 43) 11.4%, rgb(39, 44, 59) 70.2%);
  color: hsl(61, 77%, 53%);

.card {
  padding: 2em;
}



.glow {
  font-size: 80px;
  color: black;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px hsl(59, 83%, 61%), 0 0 40px hsl(59, 83%, 61%), 0 0 50px hsl(59, 83%, 61%), 0 0 60px hsl(59, 83%, 61%), 0 0 70px hsl(59, 83%, 61%);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px hsl(61, 77%, 53%), 0 0 40px hsl(61, 77%, 53%), 0 0 50px hsl(61, 77%, 53%), 0 0 60px hsl(61, 77%, 53%), 0 0 70px hsl(61, 77%, 53%), 0 0 80px hsl(61, 77%, 53%);
  }
}


H1, H3 {
  font-family: 'Star Wars', sans-serif;
                                                
}

.Nav{
  display: flex;
  justify-content: space-between;
  
}
                                                

